@media only screen and (max-width: 767px) {
   
    .main{
        display: inline-grid;
        height: 600px;
        background-color: #ffb30e;
      }

      .main-right {
        width: 90%;
        }

    .main-left{

    }
    
  
    .main-right {
      order: 1; /* Set the order of .main-right to 1 (default is 0) */
    }
  
    .main-left {
      order: 2; /* Set the order of .main-left to 2 */
    }
    
    
      }
    /* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    @media only screen and (min-width: 768px) {
      
      }