.navbar{
display: flex;
justify-content: space-evenly;
background: #f9fafd;
height: 60px;
position: sticky;
top: 0;
color: #ffb30e;
}
.navbar-one{
  display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-one-logo{
  height: 40px;
}
.navbar-two{
  display: flex;
    justify-content: center;
    align-items: center;
}
.gradient-text {
  background: linear-gradient(50deg, #fb3c00, #ffb800);
  -webkit-background-clip: text; /* For Safari/Chrome */
  background-clip: text;
  color: transparent;
  font-size: xx-large;
  font-weight: 700;
}
.navbar-two-span-deliver{
  color: black;
    font-weight: 700;
}
.navbar-two-span-current-loc{
  color: black;
}
.navbar-two-span-street{
  color: black;
  font-weight: 700;
}


.navbar-three{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust as needed */
  transform: translateY(-50%);
}

input[type="text"] {
  padding-left: 30px; /* Adjust padding to accommodate the icon */
  height: 40px;
    border: none;
    outline: 4px solid #fbdece;
    border-radius: 10px;
    margin-right: 10px;
}


.navbar-three-Login{
  width: 136px;
  height: 40px;
  background: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}
.navbar-three-Login-icon{
  padding-right: 10px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

.main{
  display: flex;
  height: 600px;
  background-color: #ffb30e;
}
.main-left{
width: 60%;
}
.main-right{
  width: 40%;
  display: flex;
    justify-content: center;
    align-items: center;
}
.main-right-img{
  position: relative;
  transition: transform 0.3s ease;
}
.main-right-img img{
  width: 100%;
  height: auto;
  border-radius: 50%;
 
}
.main-right-img:hover {
  transform: translateY(-15px); /* Move image 10px up on hover */
}

.main-left{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.main-left-container{
  padding: 30px;
  width: min-content;
}
.main-left-container div{
  padding-bottom: 10px;
}
.main-left-heading{
  font-size: 37px;
  color: white;
  font-weight: 800;
}
.main-left-content{
  padding-bottom: 40px;
  font-size: 27px;
  color: #616161;
  font-weight: 700;
}
.main-left-location{
  width: 320px;
    height: 120px;
    background: white;
}